; This file is part of the Validatory package.
;
; Copyright (c) 2017-present Friends Of ECMAScript
;
; For the full copyright and license information, please view the LICENSE
; file that was distributed with this source code.

root = true

[*]
end_of_line = LF

[*.{js, scss}]
indent_style = space
indent_size = 2

[{bower.json, package.json}]
indent_style = space
indent_size = 2
